<div class='section__wrapper'>
	<h4 class='section__header center-align'>What is Mobius?</h4>
	<p class='justify-align'>
		Mobius is a customizable visual programming environment suitable for all levels of programming expertise. Programming is becoming a necessity in all industries. However, we feel it is unrealistic to expect every person to get down to the nitty gritties of syntax to harness the power of computation. Mobius promotes computational thinking with reusable modules and a drill-down approach. It allows for users at different levels of expertise to interact with the code at a level germane to their usage - the output, planning the workflow or right down to the code.
	</p>
</div>