<div class='section__wrapper'>
	<h4 class='section-header center-align'>What is Mobius?</h4>
	<h1 class='center-align'>...</h1>
	<p>Mobius is a customizable visual programming environment suitable for all levels of programming expertise. With the need for coding fast performating every domainm we felt it was unrealistic to expect every person to get down to the nitty gritties of code to harness this power. Mobius promotes computation thinking with reusable modules and a drill-down approach, allowing users at various levels of expertise to interact with the code at a level germane to their usage - the output, the workflow or right down to the controls.</p>
	<h1 class='center-align'>...</h1>
</div>