<div class='section__wrapper'>
	<h4 class='section-header center-align'>Features</h4>

	<div class="row subsection subsection--feature">
      <div class="col m4 scale-transition scale-out feature">
      	<i class="large material-icons teal-text feature__icon">chrome_reader_mode</i>
        <span class='feature__text'>Research-Based</span>
      </div>
      <div class="col m4 scale-transition scale-out feature">
      	<i class="large material-icons teal-text feature__icon">settings</i>
       	<span class='feature__text'>Customizable</span>
      </div>
      <div class="col m4 scale-transition scale-out feature">
      	<i class="large material-icons teal-text feature__icon">code</i>
        <span class='feature__text'>Open Source</span>
      </div>
    </div>

</div>