	<!-- contact -->
	<footer class="page-footer scrollspy teal" id='contact'>
    <div class="section__wrapper">
        <div class="col l6 s12">
          <h5>Contact Us</h5>
          <small>To customize Mobius Environment for your purpose, please get in touch with us at xyz@gmail.com.</small>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5>Links</h5>
          <ul>
            <li><a href="#!">Mobius Core</a></li>
            <li><a href="#!">Mobius Modeller</a></li>
            <li><a href="#!">Mobius Geospatial</a></li>
            <li><a href="#!">Mobius Blog</a></li>
            <li><a href="#!">The Team</a></li>
          </ul>
        </div>
    </div>
    
    <div class="footer-copyright">
      <div class="container">© 2018 Design Automation Lab</div>
    </div>
</footer>