	<!-- contact -->
	<footer class="page-footer scrollspy teal" id='contact'>
    
    <div class="row section__wrapper">

        <div class="col l6 s12">
          <h5>Contact Us</h5>
          <small>To customize Mobius Environment for your purpose, please get in touch with us at xyz@gmail.com.</small>
        </div>

        <div class="col l4 offset-l2 s12">
          <h5>Links</h5>
          <small>
            <ul>
              <li><a href="https://design-automation.github.io/mobius-core">Mobius Core</a></li>
              <li><a href="https://design-automation.github.io/mobius-modeller">Mobius Modeller</a></li>
              <li><a href="https://design-automation.github.io/mobius-geospatial">Mobius Geospatial</a></li>
              <li><a href="https://design-automation.github.io/mobius">Mobius v1.0 [unmaintained]</a></li>
            </ul>
          </small>
        </div>
        
    </div>
    
    <div class="footer-copyright">
      <div class="container">© 2018 <a href='http://design-automation.net'>Design Automation Lab</a></div>
    </div>

</footer>