<header class='section__wrapper'>
	<img class='circle' style='width: 100px;' src='./images/logo_edited.jpg'>
	<h1>The Möbius Project</h1>
	<h6>Computing for <u>all</u>.</h6>
	<a class="github-button" href="https://github.com/design-automation/mobius-cesium/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork design-automation/mobius-cesium on GitHub">Fork</a>
	<a class="github-button" href="https://github.com/design-automation/mobius-cesium" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star design-automation/mobius-cesium on GitHub">Star</a>
</header>

