<div class='col s12 m5 scale-transition scale-out animate--component center-align'>
	<img class='img--screen circle' src='https://placehold.it/250x250'>
</div>

<div class='col s12 m6  offset-m1 scale-transition scale-out animate--component'>
	<h6 class='subsection__header'><i class='material-icons'>looks_3</i>Code Editor</h6>
	<p class='subsection__text'>Abstracted away in the final depths, Mobius provides a code editor to allow advanced users absolute control over the bottom-level functions.</p>
</div>
