<div class='col s12 m5 push-m7 scale-transition scale-out animate--component center-align' >
	<img class='img--screen circle' src='https://placehold.it/250x250'>
</div>

<div class='col s12 offset-m1 m6 pull-m5 scale-transition scale-out animate--component'>
	<h6 class='subsection__header'><i class='material-icons teal-text'>looks_two</i>Flow-based Editor</h6>
	<p class='subsection__text'>For the domain specialists. Re-use code and use template nodes to create variations of the same workflow. Completely customize your own node library suited to the needs of your business. If you've worked out your process once, there is no reason why you shouldn't go from raw input to the desired output in a matter of minutes.</p>
</div>
