<div class='col s12 m5 offset-m1 scale-transition scale-out animate--component'>
	<div class="subsection__wrapper center-align">
		<img class='img--screen circle' src='https://placehold.it/250x250'>
	</div>
</div>

<div class='col s12 m5 scale-transition scale-out animate--component'>
	<div class='subsection__wrapper'>
		<h6 class='subsection__header'><i class='material-icons teal-text'>looks_two</i>Flow-based Editor</h6>
		<p class='subsection__text'>For the domain specialists. Re-use code and use precreated nodes to create variations of the same workflow. Completely customize your own node library suited to the needs of your business. If you work out your process once, there is no reason why you shouldn't be able to go from raw input to the desired output in a matter of minutes.</p>
	</div>
</div>
