<div class='col s12 m5 scale-transition scale-out animate--component center-align'>
	<img class='img--screen circle' src='https://placehold.it/250x250'>
</div>

<div class='col s12 m6 offset-m1 scale-transition scale-out animate--component'>
	<h6 class='subsection__header'><i class='material-icons'>looks_one</i>Presentation Layer</h6>
	<p class='subsection__text'>Visualize your content in your own way, with custom viewers or default viewers that come with Mobius. This upper layer, hides all processing underneath and allows you to share your final result with the world.</p>
</div>
