{% include top.html %}
      <header>

        <h1 class="title"><a href="/index.html">The Mobius Platform</a></h1>

        <p><i>
          A web-based platform for parametric modelling.
        </i></p>

        <div class="nav-wrapper">
          <h1 class="nav"><a href="/index.html">Overview</a></h1>
          <h1 class="nav"><a href="/pages/mobius_modeller.html">Mobius Modeller</a></h1>
          <h1 class="nav"><a href="/pages/mobius_evolver.html">Mobius Evolver</a></h1>
          <h1 class="nav"><a href="/pages/contact.html">Contact</a></h1>
        </div>

      </header>
{% include bottom.html %}
