{% include top.html %}
      <header>

        <h1 class="title"><a href="/index.html">The Möbius Ecosystem</a></h1>

        <p><i>
          A web-based platform for parametric modelling.
        </i></p>

        <div class="nav-wrapper">
          <h1 class="nav"><a href="/index.html">Overview</a></h1>
          <h1 class="nav"><a href="/pages/mobius_modeller.html">Möbius Modeller</a></h1>
          <h1 class="nav"><a href="/pages/mobius_viewer.html">Möbius Viewer</a></h1>
          <h1 class="nav"><a href="/pages/mobius_evolver.html">Möbius Evolver</a></h1>
          <h1 class="nav"><a href="/pages/mobius_grader.html">Möbius Grader</a></h1>
          <h1 class="nav"><a href="/pages/mobius_gallery.html">Möbius Gallery</a></h1>
          <h1 class="nav"><a href="/pages/mobius_sim.html">Möbius SIM</a></h1>
          <h1 class="nav"><a href="/pages/mobius_moocs.html">Möbius MOOCs</a></h1>
          <h1 class="nav"><a href="/pages/contact.html">Contact</a></h1>
        </div>

      </header>
{% include bottom.html %}
