<!doctype html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  {% seo %}

  <link rel="stylesheet" href="{{ '/assets/css/style.css' }}">
  <meta name="viewport" content="width=device-width">
</head>

  <body>

    <div class="wrapper">

      <header>

        <h1 class="parent"><a href="http://design-automation.net">Design Automation Lab</a></h1>
        <h1 class="title"><a href="/index.html">The Möbius Ecosystem</a></h1>

        <p><i>
          A web-based ecosystem for parametric modelling.
        </i></p>

        <div class="nav-wrapper">
          <h1 class="nav"><a href="/index.html">Overview</a></h1>
          <h1 class="nav"><a href="/pages/mobius_modeller.html">Möbius Modeller</a></h1>
          <h1 class="nav"><a href="/pages/mobius_viewer.html">Möbius Viewer</a></h1>
          <h1 class="nav"><a href="/pages/mobius_evolver.html">Möbius Evolver</a></h1>
          <h1 class="nav"><a href="/pages/mobius_gallery.html">Möbius Gallery</a></h1>
          <h1 class="nav"><a href="/pages/mobius_filestore.html">Möbius Filestore</a></h1>
          <h1 class="nav"><a href="/pages/mobius_sim.html">Möbius SIM</a></h1>
          <h1 class="nav"><a href="/pages/mobius_programming.html">Möbius Programming</a></h1>
          <h1 class="nav"><a href="/pages/mobius_courses.html">Möbius Courses</a></h1>
          <h1 class="nav"><a href="/pages/mobius_mooc_generator.html">Möbius MOOC Generator</a></h1>
          <h1 class="nav"><a href="/pages/mobius_grader.html">Möbius Grader</a></h1>
          <h1 class="nav"><a href="/pages/mobius_consultancy.html">Möbius Consultancy</a></h1>
          <h1 class="nav"><a href="/pages/mobius_for_your_site.html">Möbius for your site</a></h1>
          <h1 class="nav"><a href="/pages/contact.html">Contact</a></h1>
        </div>

      </header>

      <section>
        {{ content }}
      </section>

    </div>

    <div id="modalImgDisplay" class="modal">
      <!-- The Close Button -->
      <span class="close" onClick="closeModal()">&times;</span>
      <!-- Modal Content (The Image) -->
      <img class="modal-content" id="modalImg">
    </div>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

    <script>
      // Open the Modal
      function openModal(src) {
        document.getElementById('modalImgDisplay').style.display = "block";
        document.getElementById('modalImg').src = src;
      }
      // Close the Modal
      function closeModal() {
        document.getElementById('modalImgDisplay').style.display = "none";
        document.getElementById('modalImg').src = "";
      }
    </script>

    {% if site.google_analytics %}
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ site.google_analytics }}', 'auto');
          ga('send', 'pageview');
      </script>
    {% endif %}

  </body>

</html>
