<!DOCTYPE html>
<html>

	{% include head.html %}

	<body onscroll='addElements()'>

		<div class="navbar-fixed">
	    <nav class='teal'>
	      <div class="nav-wrapper">
	        <a href="#" class="brand-logo">
			  		<img class='circle'src='./images/logo_edited.jpg'>
			</a>
	        <ul class="right hide-on-med-and-down">
			    <li><a href="#about">About</a></li>
			    <li><a href="#components">Components</a></li>
			    <li><a href="#features">Features</a></li>
			    <li><a href="#contact">Contact Us</a></li>
			    <li><a target='_blank' href='https://design-automation.github.io/mobius-cesium/gallery'>Gallery</a></li>
	        </ul>
	      </div>
	    </nav>
	  </div>
		
		<!-- hero -->
		<section class='section-container container--hero grey lighten-2'>
			<img class='circle' style='width: 100px;' src='./images/logo_edited.jpg'>
			<h1>The Möbius Project</h1>
			<h5>Computing for <u>all</u>.</h5>
			<!-- <a class="github-button" href="https://github.com/design-automation/mobius-cesium/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork design-automation/mobius-cesium on GitHub">Fork</a>
			<a class="github-button" href="https://github.com/design-automation/mobius-cesium" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star design-automation/mobius-cesium on GitHub">Star</a> -->
		</section>


		<div class='divider'></div>

		<!-- about -->
		<section class='section-container section scrollspy container--about' id='about'>
			<div class='row center-align'>
				<h4 class='section-header'>What is Mobius?</h4>
				<p>Mobius is a customizable visual programming environment suitable for all levels of programming expertise. With the need for coding fast performating every domainm we felt it was unrealistic to expect every person to get down to the nitty gritties of code to harness this power. Mobius promotes computation thinking with reusable modules and a drill-down approach, allowing users at various levels of expertise to interact with the code at a level germane to their usage - the output, the workflow or right down to the controls.</p>
			</div>
		</section>

		<div class='divider'></div>

		<!-- about -->
		<section class='section-container section scrollspy  grey lighten-2' id='components'>
			<h4 class='section-header center-align'>Mobius Components</h4>
			<div class='row subsection'>
				<div class='col m5 offset-m1 center-align scale-transition scale-out subcomponent'>
					<img class='img--screen circle' src='https://placehold.it/250x250'>
				</div>
				<div class='col m5 scale-transition scale-out subcomponent'>
					<div class='subcomponent__wrapper'>
						<h6 class='subsection-header'><i class='material-icons teal-text'>looks_one</i>Presentation Layer</h6>
						<p class='subtext'>Visualize your content in your own way, with custom viewers or default viewers that come with Mobius. This upper layer, hides all processing underneath and allows you to share your final result with the world.</p>
					</div>
				</div>
			</div>
			<div class='row subsection'>
				<div class='col m5 offset-m1 center-align scale-transition scale-out subcomponent'>
					<img class='img--screen circle' src='https://placehold.it/250x250'>
				</div>
				<div class='col m5 scale-transition scale-out subcomponent'>
					<div class='subcomponent__wrapper'>
						<h6 class='subsection-header'><i class='material-icons teal-text'>looks_two</i>Flow-based Editor</h6>
						<p class='subtext'>For the domain specialists. Re-use code and use precreated nodes to create variations of the same workflow. Completely customize your own node library suited to the needs of your business. If you work out your process once, there is no reason why you shouldn't be able to go from raw input to the desired output in a matter of minutes.</p>
					</div>
				</div>
			</div>
			<div class='row subsection'>
				<div class='col m5 offset-m1 center-align scale-transition scale-out subcomponent'>
					<img class='img--screen circle' src='https://placehold.it/250x250'>
				</div>
				<div class='col m5 scale-transition scale-out subcomponent'>
					<div class='subcomponent__wrapper'>
						<h6 class='subsection-header'><i class='material-icons teal-text'>looks_3</i>Code Editor</h6>
						<p class='subtext'>Hidden away in the final depths, yet present to allow advanced users absolute control over the environment.</p>
					</div>
				</div>
			</div>
		</section>

		
		<div class='divider'></div>

		<!-- features -->
		<section class='section-container section scrollspy container--feature' id='features'>
			<div class="row center-align">
			  <h4 class='section-header center-align'>Features</h4>
			  <div class='row'>
			      <div class="col m4 scale-transition scale-out feature">
			      	<i class="large material-icons teal-text feature-icon">chrome_reader_mode</i>
			        <span class='col l12 mark'>Research-Based</span>
			      </div>
			      <div class="col m4 scale-transition scale-out feature">
			      	<i class="large material-icons teal-text feature-icon">settings</i>
			       	<span class='col l12 mark'>Customizable</span>
			      </div>
			      <div class="col m4 scale-transition scale-out feature">
			      	<i class="large material-icons teal-text feature-icon">code</i>
			        <span class='col l12 mark'>Open Source</span>
			      </div>
			  </div>
		    </div>
		</section>


		<div class='divider'></div>

		<br><br><br><br>

		<!-- use cases -->
		<section class='section-container section scrollspy container--feature' id='uses'>

			  <h4 class='center-align section-header'>Mobius Customizations</h4>

			  <div class='row'>

					<div class='col m6 s12'>
						 <div class="card">
						    <div class="card-image waves-effect waves-block waves-light">
						      <img class="activator" src="http://design-automation.net/assets/images/mobius2_stairs.png">
						    </div>
						    <div class="card-content">
						      <span class="card-title activator">Mobius Parameteric Modeller<i class="material-icons right">more_vert</i></span>
						      <p><a href="#">See how students built complex models with Mobius at NUS</a></p>
						    </div>
						    <div class="card-reveal">
						      <span class="card-title grey-text text-darken-4">Spatial Computational Thinking Module<i class="material-icons right">close</i></span>
						      <p>Deserunt in dolore enim ea ex amet aliqua esse eu id enim nulla amet labore enim enim in duis culpa ut non aliquip dolor ex minim amet sed non dolore incididunt incididunt ex.</p>
						    </div>
						  </div>
					</div>

					<div class='col m6 s12'>
						 <div class="card">
						    <div class="card-image waves-effect waves-block waves-light">
						      <img class="activator" src="http://design-automation.net/assets/images/MobiusCES_MRT_vs_PopDen.png">
						    </div>
						    <div class="card-content">
						      <span class="card-title activator">
						      	Mobius Geospatial Visualizer
						      	<i class="material-icons right">more_vert</i></span>
						      <p><a href="#">Learn how we used Mobius at the Extruded Cities Workshop at Beijing</a></p>
						    </div>
						    <div class="card-reveal">
						      <span class="card-title grey-text text-darken-4">
						      	Extruded Cities Workshop<i class="material-icons right">close</i>
						      </span>
						      <p>Deserunt in dolore enim ea ex amet aliqua esse eu id enim nulla amet labore enim enim in duis culpa ut non aliquip dolor ex minim amet sed non dolore incididunt incididunt ex.</p>
						    </div>
						  </div>
					</div>

    		  </div>
		</section>

		<br><br><br><br>

		<!-- contact -->
		<footer class="page-footer teal section scrollspy" id='contact'>
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5>Contact Us</h5>
                <small>To customize Mobius Environment for your purpose, please get in touch with us at xyz@gmail.com.</small>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5>Links</h5>
                <ul>
                  <li><a href="#!">Mobius Core</a></li>
                  <li><a href="#!">Mobius Modeller</a></li>
                  <li><a href="#!">Mobius Geospatial</a></li>
                  <li><a href="#!">Mobius Blog</a></li>
                  <li><a href="#!">The Team</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Design Automation Lab
            </div>
          </div>
        </footer>
			

	</body>



	<script>
		window.onload = function(){
		    var elems = document.querySelectorAll('.scrollspy');
		    var instances = M.ScrollSpy.init(elems, {});
		}

		let component = document.getElementById('components');
		let compItems = document.getElementsByClassName('subcomponent');
		let features = document.getElementById('features');
		let featureItems = document.getElementsByClassName('feature');
		function addElements(){
			if (isElementVisible(features)){
				for(let el of featureItems){
					setTimeout(function(){
						el.classList.add('scale-in');
					}, 300);
				}
			}

			if (isElementVisible(component)){
				for(let el of compItems){
					setTimeout(function(){
						el.classList.add('scale-in');
					}, 500);
				}
			}
		}

		function isElementVisible(el) {
		    var rect     = el.getBoundingClientRect(),
		        vWidth   = window.innerWidth || doc.documentElement.clientWidth,
		        vHeight  = window.innerHeight || doc.documentElement.clientHeight,
		        efp      = function (x, y) { return document.elementFromPoint(x, y) };     

		    // Return false if it's not in the viewport
		    if (rect.right < 0 || rect.bottom < 0 
		            || rect.left > vWidth || rect.top > vHeight)
		        return false;

		    // Return true if any of its four corners are visible
		    return (
		          el.contains(efp(rect.left,  rect.top))
		      ||  el.contains(efp(rect.right, rect.top))
		      ||  el.contains(efp(rect.right, rect.bottom))
		      ||  el.contains(efp(rect.left,  rect.bottom))
		    );
		}


	</script>

</html>