<!DOCTYPE html>
<html>

	{% include head.html %}
	
	<!-- primary: blue darken-4 -->
	<!-- secondary: indigo lighten-4'-->
	<body onscroll='addElements()'>
		
		<!-- navigation -->
		<div class="navbar-fixed">
		    <nav class='blue darken-4'>
		      <div class="nav-wrapper">
		        <a href="#" class="brand-logo"></a>
		        <ul class="right hide-on-med-and-down">
				    <li><a href="#about">About</a></li>
				    <li><a href="#components">Components</a></li>
				    <li><a href="#features">Features</a></li>
				    <li><a href="#cases">Case Studies</a></li>
				    <li><a href="#contact">Contact Us</a></li>
				    <li><a target='_blank' href='https://design-automation.github.io/mobius-cesium/gallery'>Gallery</a></li>
		        </ul>
		      </div>
		    </nav>
	  	</div>
		
		<!-- hero -->
		<section class='container--section indigo lighten-4'>
			{% include sections/header.html %}
		</section>

		<div class='divider'></div>
		
		<section class='container--section scrollspy' id='about'>
			{% include sections/about.html %}
		</section>
		
		<div class='divider'></div>


		<!-- components -->
		<section class='container--section scrollspy indigo lighten-4' id='components'>
			{% include sections/components.html %}
		</section>

		<div class='divider'></div>

		<!-- features -->
		<section class='container--section scrollspy' id='features'>
			{% include sections/features.html %}
		</section>

		<div class='divider'></div>

		<!-- use cases -->
		<section class='container--section scrollspy' id='cases'>
			{% include sections/customizations.html %}
		</section>

		<div class='divider'></div>
		
		<footer class="page-footer scrollspy blue darken-4" id='contact'>
			{% include sections/footer.html %}
		</footer>
		
	</body>



	<script>
		window.onload = function(){
		    var elems = document.querySelectorAll('.scrollspy');
		    var instances = M.ScrollSpy.init(elems, {});
		}

		let component = document.getElementById('components');
		let compItems = document.getElementsByClassName('animate--component');
		let features = document.getElementById('features');
		let featureItems = document.getElementsByClassName('feature');
		function addElements(){
			if (isElementVisible(features)){
				for(let el of featureItems){
					setTimeout(function(){
						el.classList.add('scale-in');
					}, 300);
				}
			}

			if (isElementVisible(component)){
				for(let el of compItems){
					setTimeout(function(){
						el.classList.add('scale-in');
					}, 500);
				}
			}
		}

		function isElementVisible(el) {
		    var rect     = el.getBoundingClientRect(),
		        vWidth   = window.innerWidth || doc.documentElement.clientWidth,
		        vHeight  = window.innerHeight || doc.documentElement.clientHeight,
		        efp      = function (x, y) { return document.elementFromPoint(x, y) };     

		    // Return false if it's not in the viewport
		    if (rect.right < 0 || rect.bottom < 0 
		            || rect.left > vWidth || rect.top > vHeight)
		        return false;

		    // Return true if any of its four corners are visible
		    return (
		          el.contains(efp(rect.left,  rect.top))
		      ||  el.contains(efp(rect.right, rect.top))
		      ||  el.contains(efp(rect.right, rect.bottom))
		      ||  el.contains(efp(rect.left,  rect.bottom))
		    );
		}


	</script>

</html>