<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

		<!-- hero -->
		<section class='container container--hero'>
			<div class='row'>
				<div class='col m7'>
					<img class='circle' src='./images/logo_edited.jpg'>
					<h1>Möbius</h1>
					<p>Because computing is <u>not</u> scripting.</p>
					<a class="github-button" href="https://github.com/design-automation/mobius-cesium/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork design-automation/mobius-cesium on GitHub">Fork</a>
					<a class="github-button" href="https://github.com/design-automation/mobius-cesium" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star design-automation/mobius-cesium on GitHub">Star</a>
				</div>
				<div>
				</div>
			</div>
		</section>

		

		<!-- about -->
		<section class='container container--about orange'>
			<div class='row center-align'>
				<h4 class='section-header'>What is Mobius?</h4>
				<p>Mobius is a customizable visual programming environment suitable for all levels of programming expertise. With the need for coding fast performating every domainm we felt it was unrealistic to expect every person to get down to the nitty gritties of code to harness this power. Mobius promotes computation thinking with reusable modules and a drill-down approach, allowing users at various levels of expertise to interact with the code at a level germane to their usage - the output, the workflow or right down to the controls.</p>
			</div>
		</section>


		<!-- about -->
		<section class='container container--about'>
			<div class='row'>
				<div class='col m7'>
					
				</div>
				<div class='col m5'>
						<h6 class='subsection-header'><i class='material-icons'>looks_one</i>Presentation Layer</h6>
						<p class='subtext'>Visualize your content in your own way, with custom viewers or default viewers that come with Mobius. This upper layer, hides all processing underneath and allows you to share your final result with the world.</p>
				</div>
			</div>
		</section>

		<!-- about -->
		<section class='container container--about'>
			<div class='row'>
				<div class='col m5'>
						<h6 class='subsection-header'><i class='material-icons'>looks_two</i>Flow-based Editor</h6>
						<p class='subtext'>For the domain specialists. Re-use code and use precreated nodes to create variations of the same workflow. Completely customize your own node library suited to the needs of your business. If you work out your process once, there is no reason why you shouldn't be able to go from raw input to the desired output in a matter of minutes.</p>
				</div>
				<div class='col m7'>
					
				</div>
			</div>
		</section>

				<!-- about -->
		<section class='container container--about'>
			<div class='row'>
				<div class='col m7'>
					
				</div>
				<div class='col m5'>
						<h6 class='subsection-header'><i class='material-icons'>looks_3</i>Code Editor</h6>
						<p class='subtext'>Hidden away in the final depths, yet present to allow advanced users absolute control over the environment.</p>
				</div>
			</div>
		</section>

		

		<!-- features -->
		<section class='container container--feature orange'>
			<div class="row center-align">

			  <h4 class='section-header center-align'>Features</h4>

			  <div class='row'>
			      <div class="col m4">
			      	<i class="large material-icons">chrome_reader_mode</i>
			        <span class='col l12 mark'>Research-Based</span>
			      </div>

			      <div class="col m4">
			      	<i class="large material-icons">settings</i>
			       	<span class='col l12 mark'>Customizable</span>
			      </div>
			      
			      <div class="col m4">
			      	<i class="large material-icons">code</i>
			        <span class='col l12 mark'>Open Source</span>
			      </div>
			  </div>
				

		    </div>
		</section>


		

		<!-- use cases -->
		<section class='container container--feature'>

			  <h4 class='center-align section-header'>Mobius Customizations</h4>

			  <div class='row'>

					<div class='col m6 s12'>
						 <div class="card">
						    <div class="card-image waves-effect waves-block waves-light">
						      <img class="activator" src="http://design-automation.net/assets/images/mobius2_stairs.png">
						    </div>
						    <div class="card-content">
						      <span class="card-title activator">Mobius Parameteric Modeller<i class="material-icons right">more_vert</i></span>
						      <p><a href="#">See how students built complex models with Mobius at NUS</a></p>
						    </div>
						    <div class="card-reveal">
						      <span class="card-title grey-text text-darken-4">Spatial Computational Thinking Module<i class="material-icons right">close</i></span>
						      <p>Deserunt in dolore enim ea ex amet aliqua esse eu id enim nulla amet labore enim enim in duis culpa ut non aliquip dolor ex minim amet sed non dolore incididunt incididunt ex.</p>
						    </div>
						  </div>
					</div>

					<div class='col m6 s12'>
						 <div class="card">
						    <div class="card-image waves-effect waves-block waves-light">
						      <img class="activator" src="http://design-automation.net/assets/images/MobiusCES_MRT_vs_PopDen.png">
						    </div>
						    <div class="card-content">
						      <span class="card-title activator">
						      	Mobius Geospatial Visualizer
						      	<i class="material-icons right">more_vert</i></span>
						      <p><a href="#">Learn how we used Mobius at the Extruded Cities Workshop at Beijing</a></p>
						    </div>
						    <div class="card-reveal">
						      <span class="card-title grey-text text-darken-4">
						      	Extruded Cities Workshop<i class="material-icons right">close</i>
						      </span>
						      <p>Deserunt in dolore enim ea ex amet aliqua esse eu id enim nulla amet labore enim enim in duis culpa ut non aliquip dolor ex minim amet sed non dolore incididunt incididunt ex.</p>
						    </div>
						  </div>
					</div>

    		  </div>

		</section>


		<!-- contact -->
		<footer class="page-footer orange">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5>Contact Us</h5>
                <p>We would love to hear from you. Give us a shout out at xyz@gmail.com</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5>Links</h5>
                <ul>
                  <li><a href="#!">Mobius Core</a></li>
                  <li><a href="#!">Mobius Modeller</a></li>
                  <li><a href="#!">Mobius Geospatial</a></li>
                  <li><a href="#!">Mobius Blog</a></li>
                  <li><a href="#!">The Team</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 CodeTheFuture
            </div>
          </div>
        </footer>
			

	</body>



</html>